@media screen and (max-width: 1199.97px) {
 .activity {
  display: none;
 }
}

.activity__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  gap: 30px;
}

.activity-item {
  position: relative;
}

.activity-overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  user-select: none;
}

.activity-overlay-text {
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hat-color);
}
