.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  color: var(--feature-color);
  transition: color var(--duration) var(--timing-function);

  @media screen and (min-width: 768px) {
    padding: 0;
    gap: 10px;
  }
}
