.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--attention-color);
  padding: 16px 0;

  @media (min-width: 780px) {
    padding: 26px 0;
    margin-right: 87px;
  }
}

.logo--header {
  color: #000000;
}
